{% extends "base.html" %}

{% block title %}Listado de altas{% endblock %}

{% block content %}
  {% load staticfiles %}
  <link rel='stylesheet'
        type='text/css'
        href='{% static "stylesheets/discharger/discharge_list.css" %}' />
  <div class='panel panel-primary'>
    <div class='panel-heading'>
      <h1>Listado de altas</h3>
    </div>

    <div class='panel-body'>
      <table class='table table-striped table-hover'>
        <tbody>
          <tr>
            <th>Ubicación</th>
            <th>Paciente</th>
            <th>Etapa</th>
            <th>Tiempo de alta</th>
          </tr>

          <tr>
            <td>A380</td>

            <td>Carlos Ledezma</td>

            <td>
              <div class='progress'>
                <div class='progress-bar'
                     role='progressbar'
                     aria-volumenow='60'
                     aria-volumemin='0'
                     aria-volumemax='100'
                     style='width: 60%'>
                </div>
              </div>

              <div class='progress'>
                <div class='progress-bar'
                     role='progressbar'
                     aria-volumenow='60'
                     aria-volumemin='0'
                     aria-volumemax='100'
                     style='width: 60%'>
                </div>
              </div>
            </td>

            <td>
              00:00:30:12
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
