{% extends "base.html" %}

{% block title %}Listado de altas{% endblock %}

{% block stylesheets %}
  {% load staticfiles %}
  <link rel='stylesheet'
        type='text/css'
        href='{% static "stylesheets/discharger/discharge_list.css" %}' />
{% endblock %}

{% block javascripts %}
  {% load staticfiles %}
  <script src='{% static "javascripts/discharger/discharge_list.js" %}'>
  </script>
{% endblock %}

{% block content %}
  <div class='panel panel-primary'>
    <div class='panel-heading'>
      <h1>Listado de altas</h3>
    </div>

    <div class='panel-body'>
      <table class='table table-striped table-hover'>
        <tbody>
          <tr>
            <th>UBICACIÓN</th>
            <th>PACIENTE</th>
            <th>ETAPA</th>
            <th>TIEMPO DE ALTA</th>
          </tr>

          <tr>
            <td>A380</td>

            <td>Carlos Ledezma</td>

            <td class='td-progress'>
              <div class='arrow_box'>
                Some content with more characters <br />
                And a line break
              </div>
              <div class='progress first' style='width: 100px;'>
                <div class='progress-bar'
                     role='progressbar'
                     aria-volumenow='0'
                     aria-volumemin='0'
                     aria-volumemax='100'
                     style='width: 0%'>
                  <p class='stage-name'>
                    Dosis / Despacho
                  </p>
                </div>
              </div>
              <div class='progress' style='width: 100px;'>
                <div class='progress-bar'
                     role='progressbar'
                     aria-volumenow='0'
                     aria-volumemin='0'
                     aria-volumemax='100'
                     style='width: 0%'>
                  Facturación
                </div>
              </div>
              <div class='progress' style='width: 100px;'>
                <div class='progress-bar'
                     role='progressbar'
                     aria-volumenow='0'
                     aria-volumemin='0'
                     aria-volumemax='100'
                     style='width: 0%'>
                    Seguro
                </div>
              </div>
              <div class='progress' style='width: 100px;'>
                <div class='progress-bar'
                     role='progressbar'
                     aria-volumenow='0'
                     aria-volumemin='0'
                     aria-volumemax='100'
                     style='width: 0%'>
                   Salida
                </div>
              </div>
              <div class='progress last' style='width: 100px;'>
                <div class='progress-bar'
                     role='progressbar'
                     aria-volumenow='0'
                     aria-volumemin='0'
                     aria-volumemax='100'
                     style='width: 0%'>
                  Hotelería
                </div>
              </div>
            </td>

            <td class='td-time'>
              <div class='progress progress-striped active'>
                <div class='progress-bar time-in-process' style='width: 100%'>
                  00:00:30:12
                </div>
              </div>
            </td>
          </tr>

          <tr>
            <td>A380</td>

            <td>Carlos Ledezma</td>

            <td class='td-progress'>
              <div class='arrow_box'>
                Some content with more characters
              </div>
              <div class='progress first' style='width: 100px;'>
                <div class='progress-bar'
                     role='progressbar'
                     aria-volumenow='0'
                     aria-volumemin='0'
                     aria-volumemax='100'
                     style='width: 0%'>
                  <p class='stage-name'>
                    Dosis / Despacho
                  </p>
                </div>
              </div>
              <div class='progress' style='width: 100px;'>
                <div class='progress-bar'
                     role='progressbar'
                     aria-volumenow='0'
                     aria-volumemin='0'
                     aria-volumemax='100'
                     style='width: 0%'>
                  Facturación
                </div>
              </div>
              <div class='progress' style='width: 100px;'>
                <div class='progress-bar'
                     role='progressbar'
                     aria-volumenow='0'
                     aria-volumemin='0'
                     aria-volumemax='100'
                     style='width: 0%'>
                    Seguro
                </div>
              </div>
              <div class='progress' style='width: 100px;'>
                <div class='progress-bar'
                     role='progressbar'
                     aria-volumenow='0'
                     aria-volumemin='0'
                     aria-volumemax='100'
                     style='width: 0%'>
                   Salida
                </div>
              </div>
              <div class='progress last' style='width: 100px;'>
                <div class='progress-bar'
                     role='progressbar'
                     aria-volumenow='0'
                     aria-volumemin='0'
                     aria-volumemax='100'
                     style='width: 0%'>
                  Hotelería
                </div>
              </div>
            </td>

            <td class='td-time'>
              <div class='progress progress-striped active'>
                <div class='progress-bar time-in-process' style='width: 100%'>
                  00:00:30:12
                </div>
              </div>
            </td>
          </tr>

          <tr>
            <td>A380</td>

            <td>Carlos Ledezma</td>

            <td class='td-progress'>
              <div class='arrow_box'>
                Some content with more characters
              </div>
              <div class='progress first' style='width: 100px;'>
                <div class='progress-bar'
                     role='progressbar'
                     aria-volumenow='0'
                     aria-volumemin='0'
                     aria-volumemax='100'
                     style='width: 0%'>
                  <p class='stage-name'>
                    Dosis / Despacho
                  </p>
                </div>
              </div>
              <div class='progress' style='width: 100px;'>
                <div class='progress-bar'
                     role='progressbar'
                     aria-volumenow='0'
                     aria-volumemin='0'
                     aria-volumemax='100'
                     style='width: 0%'>
                  Facturación
                </div>
              </div>
              <div class='progress' style='width: 100px;'>
                <div class='progress-bar'
                     role='progressbar'
                     aria-volumenow='0'
                     aria-volumemin='0'
                     aria-volumemax='100'
                     style='width: 0%'>
                    Seguro
                </div>
              </div>
              <div class='progress' style='width: 100px;'>
                <div class='progress-bar'
                     role='progressbar'
                     aria-volumenow='0'
                     aria-volumemin='0'
                     aria-volumemax='100'
                     style='width: 0%'>
                   Salida
                </div>
              </div>
              <div class='progress last' style='width: 100px;'>
                <div class='progress-bar'
                     role='progressbar'
                     aria-volumenow='0'
                     aria-volumemin='0'
                     aria-volumemax='100'
                     style='width: 0%'>
                  Hotelería
                </div>
              </div>
            </td>

            <td class='td-time'>
              <div class='progress progress-striped active'>
                <div class='progress-bar time-in-process' style='width: 100%'>
                  00:00:30:12
                </div>
              </div>
            </td>
          </tr>

          <tr>
            <td>A380</td>

            <td>Carlos Ledezma</td>

            <td class='td-progress'>
              <div class='arrow_box'>
                Some content with more characters
              </div>
              <div class='progress first' style='width: 100px;'>
                <div class='progress-bar'
                     role='progressbar'
                     aria-volumenow='0'
                     aria-volumemin='0'
                     aria-volumemax='100'
                     style='width: 0%'>
                  <p class='stage-name'>
                    Dosis / Despacho
                  </p>
                </div>
              </div>
              <div class='progress' style='width: 100px;'>
                <div class='progress-bar'
                     role='progressbar'
                     aria-volumenow='0'
                     aria-volumemin='0'
                     aria-volumemax='100'
                     style='width: 0%'>
                  Facturación
                </div>
              </div>
              <div class='progress' style='width: 100px;'>
                <div class='progress-bar'
                     role='progressbar'
                     aria-volumenow='0'
                     aria-volumemin='0'
                     aria-volumemax='100'
                     style='width: 0%'>
                    Seguro
                </div>
              </div>
              <div class='progress' style='width: 100px;'>
                <div class='progress-bar'
                     role='progressbar'
                     aria-volumenow='0'
                     aria-volumemin='0'
                     aria-volumemax='100'
                     style='width: 0%'>
                   Salida
                </div>
              </div>
              <div class='progress last' style='width: 100px;'>
                <div class='progress-bar'
                     role='progressbar'
                     aria-volumenow='0'
                     aria-volumemin='0'
                     aria-volumemax='100'
                     style='width: 0%'>
                  Hotelería
                </div>
              </div>
            </td>

            <td class='td-time'>
              <div class='progress progress-striped active'>
                <div class='progress-bar time-in-process' style='width: 100%'>
                  00:00:30:12
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
