.banner-logo{
  float: left;
  height: 60px;
  padding: 10px 0 0 20px;
  width: auto;
}

.container{
  padding-bottom: 100px;
}

.navigation-links > a{
  color: black;
  font-weight: normal;
  margin: 0 0 0 70px;
  position: relative;
  text-decoration: none;
  top: 30px;
}

.navigation-links > a:hover, .navigation-links > a:focus{
  color: black;
  text-decoration: underline;
}

.username-container{
  bottom: 10px;
  color: #008ebc;
  float: right;
  font-weight: bold;
  position: relative;
}

.username-container > a{
  color: #08c;
  font-weight: normal;
  text-decoration: none;
}

.username-container a:hover, .username-container a:focus{
  color: #005580;
  text-decoration: underline;
}
