<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    {% load staticfiles %}
    <link rel='stylesheet'
          type='text/css'
          href='{% static "libraries/bootstrap/bootstrap.min.css" %}' />
    <link rel='stylesheet'
          type='text/css'
          href='{% static "stylesheets/base.css" %}' />
    {% block stylesheets %}{% endblock %}

    <script src='{% static "libraries/jquery/jquery.js" %}'>
    </script>
    <script src='{% static "libraries/bootstrap/bootstrap.min.js" %}'>
    </script>
    {% block javascripts %}{% endblock %}
  </head>

  <body>
    <div class='container'>
      <div class='row content-fix'>
        {% block modal %}{% endblock %}
      </div>
    </div>
    <div class='navbar navbar-default navbar-fixed-top'>
      <div class='navbar-inner'>
        <a href='/'>
          <img src='{% static "images/logo-tds.png" %}'
               class='banner-logo'>
        </a>
        <span class='navigation-links'>
          <a href='/altas/list'>
            Listado
          </a>
          <a href='/altas/statistics'>
            Estadísticas
          </a>
        </span>
        <h2>
          <center>
            {{ title }}
          </center>
        </h2>
        {% if user.is_authenticated %}
          <span class='username-container'>
            {{ user.username }} (
            <a href='/accounts/logout/'>
              Cerrar sesión
            </a>
            )
          </span>
        {% endif %}
      </div>
    </div>
    {% block content %}{% endblock %}
  </body>
</html>
